@use '@/assets/styles/mixins' as *;
/* ==================================================
          @popup-layout
================================================== */
.popup-component {
  position: absolute;
  inset: 0;
  color: var(--popup-font-color);
  z-index: 100000;
  overflow: auto;
  &.channelLoading {
    inset: 0 0 0 var(--app-global-nav-width);
    & > .popup-dimm {
      position: absolute;
    }
  }
  & > .popup-dimm {
    position: fixed;
    inset: 0;
    background-color: var(--popup-dimm-bg-color);
    z-index: 99;
  }
  // & > .popup-dimm:has(+ .termsList) {
  // 	pointer-events: none;
  // }
  & > .popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 2px solid transparent;
    background-image: var(--popup-border-color);
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    overflow: hidden;
    z-index: 100;
    &.default {
      top: 50%;
      left: 50%;
      width: 100%;
      height: auto;
      max-width: 1080px;
      max-height: calc(100% - 28px);
      border-radius: 8px;
      transform: translate(-50%, -50%);
    }
    &.fullScreen {
      width: 100%;
      height: 100%;
      > .popup-inner {
        height: auto;
      }
    }
    &.detail {
      top: 5%;
      left: 50%;
      width: 100%;
      height: 90%;
      max-width: 880px;
      border-radius: 8px;
      transform: translate(-50%, 0);
      overflow: auto;
      > .popup-inner {
        height: auto;
        overflow: visible;
        > .popup-header {
          position: sticky;
          top: 0;
          left: 0;
          width: 100%;
          background-color: var(--popup-bg-color);
          z-index: 10;
        }
      }
    }
    .popup-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
      height: 100%;
      padding: 0 80px;
      .popup-header {
        position: relative;
        width: 100%;
        font-size: 46px;
        font-weight: bold;
        padding: 60px 0 41px;
        text-align: center;
        line-height: 1;
        border-bottom: 1px solid var(--popup-header-border-color);
        .btn-close {
          position: absolute;
          top: 50%;
          left: 0;
          padding: 32px;
          transform: translateY(-50%);
          stroke: var(--app-font-color);
          cursor: pointer;
        }
      }

      .popup-footer {
        width: 100%;
        margin-bottom: 60px;
        .btn-wrap {
          display: flex;
          gap: 36px;
          .btn {
            flex: 1;
            font-size: 46px;
            font-weight: bold;
            padding: 30px 0;
            border-radius: 4px;
            color: #fff;
            transition: opacity 0.3s;
            &.btn-confirm {
              background-color: var(--popup-btn-confirm-bg-color);
              color: var(--popup-btn-confirm-font-color);
            }
            &.btn-cancel {
              background-color: var(--popup-btn-cancel-bg-color);
              color: var(--popup-btn-cancel-font-color);
            }
            &.disable {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}
.fullscreen {
  .popup-component {
    &.toast {
      display: none !important;
    }
  }
}
